@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Fraunces';
  src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format('truetype');
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --g01: #787878;
  --d01: #3d8168;
  --bg-color: #f3eae3;
  --w-color: #fff;
  --b-color: #000;
  
  --body-font: Montserrat, Helvetica, sans-serif;
  --title-font: Fraunces, Georgia, serif;
}

body {
  background: var(--bg-color);
}

.img-mobile { display: none; }

.whole-content {
  display: flex;
  justify-items: center;
  max-width: 800px;
  background: var(--w-color);
}

.secn-title { 
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--g01);
}

.main-title {
  font-family: var(--title-font);
  font-size: 3rem;
  font-weight: 900;
}

.price-tag {
  color: var(--d01);
}

.price-tag-st {
  font-size: 1rem;
}

.body-text {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 700;
  color: var(--g01);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { 
  color: hsl(228, 45%, 44%);
  font-weight: bolder;
}