@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Fraunces';
  src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --g01: #787878;
  --d01: #3d8168;
  --d02: #1b4031;
  --bg-color: #f3eae3;
  --w-color: #fff;
  --b-color: #000;
  
  --body-font: Montserrat, Helvetica, sans-serif;
  --title-font: Fraunces, Georgia, serif;
}

body {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

@media screen and (max-width: 800px) {

  main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 800px;
    margin-top: auto;
  }

  /* .img-desktop { display: none; }

  .img-mobile { 
    width: 345px;
    height: 240px;
    display: block;
    border-radius: 10px 10px 0px 0px;
  } */

  .content-container {
    background: var(--w-color);
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 295px;
    height: 375px;
    border-radius: 0px 0px 10px 10px;
  }

  .secn-title { 
    font-family: var(--body-font);
    font-size: 0.8rem;
    font-variation-settings: "wght" 380;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--g01);
  }
  
  .main-title {
    font-family: var(--title-font);
    font-size: 2rem;
    font-variation-settings: "wght" 650;
    line-height: 2rem;
  }
  
  .body-text {
    font-family: var(--body-font);
    font-size: 0.875rem;
    font-variation-settings: "wght" 520;
    color: var(--g01);
    line-height: 1.4rem;
  }

  .button-add {
    text-decoration: none;
    color: var(--w-color);
    background: var(--d01);
    font-family: var(--body-font);
    font-variation-settings: "wght" 650;
    font-size: 0.870rem;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    transition: 0.1s;
  }
  
  .button-add img {
    width: 15px;
  }
  
  .button-add:hover {
    background: var(--d02);
    -webkit-tap-highlight-color: transparent;
  }

  .button-add:active {
    background: var(--d02);
  }

  .price-display {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (min-width: 801px) {
  main {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-top: auto;
  }
  
  /* .img-desktop {
    width: 400px;
    max-height: 900px;
    display: block;
    border-radius: 15px 0px 0px 15px;
  }

  .img-mobile { display: none; } */

  .content-container {
    background: var(--w-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    border-radius: 0px 15px 15px 0px;
  }

  .secn-title { 
    font-family: var(--body-font);
    font-size: 1rem;
    font-variation-settings: "wght" 380;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--g01);
  }
  
  .main-title {
    font-family: var(--title-font);
    font-size: 2.8rem;
    font-variation-settings: "wght" 650;
    padding-right: 40px;
    line-height: 2.8rem;
  }
  
  .body-text {
    font-family: var(--body-font);
    font-size: 1.2rem;
    font-variation-settings: "wght" 500;
    color: var(--g01);
    line-height: 1.8rem;
  }

  .button-add {
    text-decoration: none;
    color: var(--w-color);
    background: var(--d01);
    font-family: var(--body-font);
    font-variation-settings: "wght" 650;
    font-size: 1.2rem;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-content: center;
    transition: 0.1s;
  }
  
  .button-add img {
    width: 20px;
  }
  
  .button-add:hover {
    background: var(--d02);
  }

  .price-display {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.price-tag {
  color: var(--d01);
  padding-right: 0;
}

footer {
  margin-top: auto;
}

.attribution { 
  font-size: 11px;
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
  font-variation-settings: "wght" 550;
}